<div>
  <img class="slide-in-left mainFighterImage" (click)="changeImage()" src="{{fighterImage}}">
  <label style="font-family: 'Chalkboard SE'; color: black; margin-left: 100px; font-size: 55px; z-index: 1;">{{fighter?.name}}</label>
  <!--<div class="description">{{playerDescription(fighter?.description)}}</div>-->
</div>

<button type="button" routerLink="/fighters">Fighter Page</button>
<div class="container">
  <button class="cardList" *ngFor="let fighter of fighterCarousel; let i = index" (click)="updateFighter(fighter?.id)">
    <img class="fighterImage" src="{{fighter.carouselImage}}">

  </button>
</div>


