<!--<div class="body" >-->
  <!--<div id="navBar">-->
    <!--<img src="../assets/images/Banner/newBanner.jpg" width="1900px">-->
    <!--&lt;!&ndash;<img src="../assets/images/Banner/whitelogo.png" style="z-index: 1; margin-top: -200px" width="500">&ndash;&gt;-->
  <!--</div>-->
  <!--<div fxLayout="row" fxFlexAlign="center center">-->
    <!--<div style="height:60px; width:60px;" *ngFor="let game of games">-->
      <!--<svg class="filter-fighter-symbol">-->
        <!--<path [attr.d]="game.gameSymbol"/>-->
      <!--</svg>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="imgContainer" >-->
    <!--<select class="drop-down" (change)="onChanged($event)" name="Select" id="searchDropdown">-->
      <!--<option [value]=" ">All</option>-->
      <!--<option  [value]="game.gameName" *ngFor="let game of games">{{game.gameName}}</option>-->
    <!--</select>-->
  <!--<div>-->
    <!--<button class="cardList" *ngFor="let fighter of fighters; let i = index" (mouseover)="setSymbolColor(fighter.id, true)" (mouseleave)="setSymbolColor(fighter.id, false)">-->
      <!--<svg id="{{i}}" class="fighterSymbol">-->
        <!--<path [attr.d]=fighter.game.gameSymbol></path>-->
      <!--</svg>-->
      <!--<img class="fighterImage" src="{{fighter.image}}">-->
      <!--<div class="overlay">-->
        <!--<div class="text">{{fighter.name}}</div>-->
      <!--</div>-->
    <!--</button>-->
  <!--</div>-->


<div class="header">
  <img src="../assets/images/Banner/newBanner.jpg" width="1900px">
  <img src="../assets/images/Banner/whitelogo.png" style="z-index: 1; margin-top: -250px; margin-right: 1300px" width="500">
</div>


<div id="navbar">
  <div fxLayout="row" fxFlexAlign="center center">
    <div style="height:60px; width:60px;" *ngFor="let game of games; let i = index" (click)="onChanged(game.gameName)" (mouseover)="setFilterBarSvgColor(game.id, true)" (mouseleave)="setFilterBarSvgColor(game.id, false)">
     <svg id="{{i}}game" class="filter-fighter-symbol">
      <path [attr.d]="game.gameSymbol"/>
     </svg>
   </div>
  </div>
</div>
<div class="content">
  <!--<div class="imgContainer" >-->
    <!--<select class="drop-down" (change)="onChanged($event)" name="Select" id="searchDropdown">-->
      <!--<option [value]=" ">All</option>-->
      <!--<option  [value]="game.gameName" *ngFor="let game of games">{{game.gameName}}</option>-->
    <!--</select>-->
    <!--<div>-->
      <button class="cardList" *ngFor="let fighter of fighters; let i = index" (mouseover)="setSymbolColor(i, true)" (mouseleave)="setSymbolColor(i, false)">
        <p class="fighterNumber">#{{fighter.id}}</p>
        <svg id="{{i}}fighter" class="fighterSymbol">
          <path [attr.d]=fighter.game.gameSymbol></path>
        </svg>
        <img class="fighterImage" src="{{fighter.image}}">
        <div class="overlay">
          <div class="text">{{fighter.name}}</div>
        </div>
      </button>
    </div>
